packages/
TestITM/bin/
TestITM/obj/
Data/obj/
Data/bin/
Store/bin/Debug/Store.pdb
TestITM.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Store/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Store/obj/
TestITM.Tests/obj/
TestITM.Tests/bin/Debug/Data.dll
TestITM.Tests/bin/Debug/Data.pdb
TestITM.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
TestITM.Tests/bin/Debug/Newtonsoft.Json.dll
TestITM.Tests/bin/Debug/Newtonsoft.Json.xml
TestITM.Tests/bin/Debug/Store.dll
TestITM.Tests/bin/Debug/Store.pdb
TestITM.Tests/bin/Debug/System.Web.Helpers.dll
TestITM.Tests/bin/Debug/System.Web.Helpers.xml
TestITM.Tests/bin/Debug/System.Web.Mvc.dll
TestITM.Tests/bin/Debug/System.Web.Mvc.xml
TestITM.Tests/bin/Debug/System.Web.Optimization.dll
TestITM.Tests/bin/Debug/System.Web.Razor.dll
TestITM.Tests/bin/Debug/System.Web.Razor.xml
TestITM.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
TestITM.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
TestITM.Tests/bin/Debug/System.Web.WebPages.Razor.dll
TestITM.Tests/bin/Debug/System.Web.WebPages.Razor.xml
TestITM.Tests/bin/Debug/System.Web.WebPages.dll
TestITM.Tests/bin/Debug/System.Web.WebPages.xml
TestITM.Tests/bin/Debug/TestITM.Tests.dll
TestITM.Tests/bin/Debug/TestITM.Tests.dll.config
TestITM.Tests/bin/Debug/TestITM.Tests.pdb
TestITM.Tests/bin/Debug/TestITM.dll
TestITM.Tests/bin/Debug/TestITM.pdb
TestITM.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
TestITM.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
TestITM.Tests/bin/Debug/System.Web.Optimization.xml
UpgradeLog.htm
Store/bin/
.vs/TestITM/v14/.suo
